canvas {
    background-color: #333;
}

nav {
    margin-top: -8px;
}

nav .nav-desktop #logo__container img {
	transition: transform 1s;
	transform: scale(1, 1) translateY(0px);
}

nav .nav-desktop #logo__container img.grow {
	transform: scale(1.2, 1.2) translateY(-8px);
}

div#nav_ghost.canvas {
    background-color: #f0f0f0;
}

/* canvas replacement */
#canvas_replacement {
	background-color: #252525;
	text-align: center;
	color: white;
	padding: 50px 20px 70px 20px;
}

#canvas_replacement h1 {
	margin-bottom: 10px;
}

@media only screen and (max-width : 640px) {
    #canvas_replacement h1 {
        font-size: 35px;
        margin-bottom: 5px;
    }

    #canvas_replacement h3 {
    	font-size: 20px;
    }
}

@media only screen and (max-width : 440px) {
    #canvas_replacement h1 {
        font-size: 30px;
        margin-bottom: 0px;
        line-height: 35px;
    }

    #canvas_replacement h3 {
    	font-size: 15px;
    	line-height: 22px;
    }
}


@media only screen and (max-width : 375px) {
    #canvas_replacement h1 {
        font-size: 26px;
        margin-bottom: 0px;
        line-height: 35px;
    }

    #canvas_replacement h3 {
    	font-size: 14px;
    	line-height: 22px;
    }
}
