/* colours 
salmon: #f15758;
teal: #25b5ad;
teal darker 10%: #0C9C94;
teal darker 20%: #00837B;
*/


/* Reset */
/* ----------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.618em;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
label, input[type="checkbox"], input[type="radio"], button, input[type="submit"] {
    cursor: pointer;
}

/* Typecast */
/* ----------------------------------------------------------*/

body {
    font-size: 18px;
    min-height: 100%;
    font-family: Georgia;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
}

h1 {
    font-size: 52px;
    line-height: 60px;
    margin: 0px 0px 15px 0px;
    font-family: "Droid Sans";
}

h2 {
    font-size: 36px;
    line-height: 46px;
    margin: 0px 0px 25px 0px;
    font-family: "Droid Sans";
}

h3 {
    font-size: 28px;
    line-height: 36px;
    margin: 0px 0px 19px 0px;
    font-family: "Droid Sans";
}

h4 {
    margin-bottom: 25px;
    font-family: "Droid Sans";
}

h5 {
    margin: 0px 0px 25px 0px;
    font-family: "Droid Sans";
}

p {
    margin: 0px 0px 25px 0px;
    text-transform: inherit;
    font-size: 20px;
    font-family: "Sanchez";
    line-height: 32px;
}

p.intro {
    font-size: 22px;
    line-height: 29px;
    margin: 0px 0px 13px 0px;
    font-family: Sanchez;
    font-weight: 400;
    font-style: normal;
}

p.quote {
    font-size: 23px;
    line-height: 28px;
    color: #666666;
    margin: 0px;
    font-family: "Sanchez";
}

article ul, ol {
    font-size: 20px;
    font-family: "Sanchez";
}

blockquote {
    transition: border-left 0.5s;
    margin-bottom: 25px !important;
    border-left: solid 7px #f15758;
    padding-left: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eaeaea;
}

blockquote p {
    font-size: 32px;
    line-height: 42px;
    color: #424242;
}

blockquote li {
    font-size: 26px;
    line-height: 38px;
    color: #424242;
}

blockquote:hover {
    transition: border-left 0.5s;
    border-left: solid 7px #512db1;
}

article > blockquote:first-child {
    margin-bottom: 60px !important;
    margin-top: 60px !important;
}

strong, b {
    font-weight: bold;
}

/* cocept font */
@font-face {
    font-family: 'cocept';
    src:    url('/fonts/cocept.eot?tpbd4p');
    src:    url('/fonts/cocept.eot?tpbd4p#iefix') format('embedded-opentype'),
        url('/fonts/cocept.ttf?tpbd4p') format('truetype'),
        url('/fonts/cocept.woff?tpbd4p') format('woff'),
        url('/fonts/cocept.svg?tpbd4p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="cocept-icon-"], [class*=" cocept-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'cocept' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cocept-icon-logo:before {
    content: "\e900";
}

/* elements */
/* ----------------------------------------------------------*/

q {
    quotes: "“" "”" "‘" "’";
    display: block;
    font-size: 1.8em;
    line-height: 45px;
}

q:before {
    font-size: 1.8em;
    margin-left: -25px;
    content: open-quote;
}

q:after {
    font-size: 1.8em;
    position: absolute;
    content: close-quote;
}

ol, ul {
    margin: 25px;
}

img {
    max-width: 100%;
}

small {
    font-size: 0.7em;
    color: #888;
}

/* call text to attention */
.disport {
    font-family: monospace;
    background-color: #f15758;
    color: #222;
}

/* code highlighting */
.highlight pre {
    padding: 5px 13px;
}

/* form */
.btn.btn-primary {
    transition: 0.5s;
    background-color: #f15758;
    border-color: #f15758;
}

.btn.btn-primary:hover {
    transition: 0.5s;
    background-color: #25b5ad;
    border-color: #25b5ad;
}

/* misc */
/* ----------------------------------------------------------*/
.outRight {
    transform: translateX(100%);
}

a span.glyphicon {
    font-size: 80%;
    margin-left: 7px;
}

.clear {
    clear: both;
}

.row-vertically-centered {
    display: flex;
    align-items: center;
}

.faint {
    color: #888888;
}

/* layout */
/* ----------------------------------------------------------*/

/* header */
header.top {
    min-height: 73px;
}

/* navigation */
nav {
    display: block;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;

    transition: background-color 0.5s;
}

nav a, nav a:hover, nav a:focus, nav a:active {
    text-decoration: none;
}

nav .nav-section {
    display: inline-block;
    width: 10vw;
    min-width: 150px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

nav .nav-section a {
    color: white;
}

nav .branding {
    float: left;
    padding: 20px 0px 20px 20px;
}

nav .branding a {
    transition: transform 0.5s;
    display: inline-block;
    font-size: 22px;
}

nav .branding a:hover {
    transform: scale(1.1);
}

nav .menu-button {
    float: right;
    padding: 20px 20px 20px 0px;
    text-align: right;
    font-size: 22px;
}

nav .menu-button .text {
    vertical-align: top;
    padding-right: 3px;
}

nav .menu-button .hamburger:focus{
    outline: none;
}

nav .menu-button .hamburger .hamburger-inner, 
nav .menu-button .hamburger .hamburger-inner::before, 
nav .menu-button .hamburger .hamburger-inner::after {
    background-color: white;
}

/* nav.solid */
nav.solid {
    background-color: #f3f3f3;
}

nav.solid .nav-section {
    color: #333;
}

nav.solid .nav-section a {
    color: #333;
}

nav.solid .menu-button .hamburger .hamburger-inner, 
nav.solid .menu-button .hamburger .hamburger-inner::before, 
nav.solid .menu-button .hamburger .hamburger-inner::after {
    background-color: #333;
}

/* nav.push-menu */
nav.push-menu {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 80;

    padding-top: 73px;
    color: white;
    text-align: right;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fed30d+0,25b5ad+77&0.87+0,0+96,0.36+96 */
background: -moz-radial-gradient(top right, ellipse cover, rgba(254,211,13,0.87) 0%, rgba(37,181,173,0.46) 77%, rgba(37,181,173,0.36) 96%); /* FF3.6-15 */
background: -webkit-radial-gradient(top right, ellipse cover, rgba(254,211,13,0.87) 0%,rgba(37,181,173,0.46) 77%,rgba(37,181,173,0.36) 96%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at top right, rgba(254,211,13,0.87) 0%,rgba(37,181,173,0.46) 77%,rgba(37,181,173,0.36) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#defed30d', endColorstr='#5c25b5ad',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    opacity: 0;
    transition: opacity 0.5s;
}

nav.push-menu.open {
    opacity: 1;
}

nav.push-menu ul {
    padding: 0px;
    margin: 0px;
}

nav.push-menu li {
    list-style-type: none;
    padding: 0px 30px;
    margin: 0px;
}

nav.push-menu li.active {
    border-right: 5px solid #f15758;
    padding-right: 25px;
}

nav.push-menu a {
    color: white;
    font-size: 7vmin;
    line-height: 10vmin;
    position: relative;
}

nav.push-menu a:hover {
    font-style: italic;
}

nav.push-menu a:after {
    content: '';
    display: block;
    border-bottom: 5px solid #f15758;
    width: 0;
    position: absolute;
    right: 0;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

nav.push-menu a:hover:after { 
    width: 100%; 
}

/* footer */
/* ----------------------------------------------------------*/
footer {
    padding: 20px 20px 10px 20px;
    background-color: #00837B;
    text-align: center;
}

footer.black {
    background-color: #222222;
}

footer .left {
    float: left;
}

footer .social-icon {
    text-decoration: none;
    margin: 0px 3px;
}

footer .social-icon img {
    transition: transform 0.5s;
}

footer .social-icon:hover img {
    transform: scale(1.2) rotate(360deg);
}

footer .to-top {
    cursor: pointer;
    color: white;
    transition: transform 0.5s;
    margin-top: 6px;
    margin-right: 4px;
}

footer .to-top:hover {
    color: white;
    text-decoration: none;
    transform: translateY(-3px);
}

/* content */
/* ----------------------------------------------------------*/

.container.narrow {
    max-width: 760px;
}

.container.page {
    margin: 45px auto 45px auto;
}

.grey-hero {
    background-color: #f0f0f0;
    border-bottom: 5px solid #e3e3e3;
}

/* posts */
.meta {
    display: block;
    margin: 12px 0px;
}

header.post-header {
    margin-bottom: 45px;
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* used in promo_column.html */
.col-md-4 > .affix {
    max-width: 360px;
}

/* components */
/* ----------------------------------------------------------*/

/* mailchimp signup forms */
.mailchimp__form .input-group {
    max-width: 300px;
    margin: auto;
}

/* social media icons in posts layout promo column */
.sharing_icons__container {
    text-align: center;
    margin-bottom: 50px;
}

.sharing_icons__link {
    display: inline-block;
    text-align: center;
    margin: 10px 5px;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    transition: transform 0.5s;
}

.sharing_icons__link:hover, .sharing_icons__link:focus {
    text-decoration: none;
    color: white;
    transform: scale(1.02);
}

.sharing_icons__link.facebook {
    background-color: #3e5b98;
}

.sharing_icons__link.twitter {
    background-color: #4da7de;
}

.sharing_icons__link.google-plus {
    background-color: #dd4b39;
}

.sharing_icons__link.buffer {
    background-color: #000000;
}

.sharing_icons__link.linkedin {
    background-color: #3371b7;
}

/* hot corners */
.hot-corner__container {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 12vw;
    overflow: hidden;
}

.hot-corner {
    position: absolute;
    top: -20vw;
    height: 29vw;
    width: 31vw;
} 

.hot-corner-top-left {
    transform: rotate(-30deg);
    left: -14vw;
} 

.hot-corner-top-right {
    transform: rotate(30deg);
    right: -14vw;
} 

/* hero */

.hero {
    width: 100%;
    overflow: hidden;
}

/* hero-split */
.hero.hero-split .left {
    text-align: right;
}

/* hero text */
.hero.hero-split .text {
    margin: 50px 0px;
    max-width: 650px;
}

.hero.hero-split .text, .hero.hero-split .text h1, .hero.hero-split .text h2 {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.hero.hero-split .text h1 {
    font-weight: bold;
    font-size: 5vw;
    line-height: 5vw;
}

.hero.hero-split .text h2 {
    font-weight: normal;
    font-size: 3.5vw;
    line-height: 3.5vw;
}

@media screen and (min-width: 1200px){
    .hero.hero-split .text h1 {
        font-size: 72px;
        line-height: 72px;
    }

    .hero.hero-split .text h2{
        font-size: 48px;
        line-height: 48px;
    }
}

/* hero-home */
.hero.hero-home {
    padding-top: 30px;
    background: #25b5ad;

    /* http://colorzilla.com/gradient-editor/#006a70+0,25b5ad+100 */
    background: -moz-linear-gradient(45deg, rgba(0,106,112,1) 0%, rgba(37,181,173,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(0,106,112,1) 0%,rgba(37,181,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(0,106,112,1) 0%,rgba(37,181,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006a70', endColorstr='#25b5ad',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.hero.hero-home img {
    width: 100%;
    max-width: 500px;

    position: relative;
    top: 12px;
    right: 20px;
}

/* gif player */

.gif-player {
    text-align: center;
    margin: 10px;
}

.gif-player a {
    transition: 0.5s;
    font-size: 1.3em;
    padding: 10px;
    background-color: #f15758;
    border-radius: 50%;
    color: white;
}

.gif-player a:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #25b5ad;
    transform: rotate(-15deg);
}

/* contact form */

form#contact div.row {
    margin-bottom: 20px;
}

/* aesthetics */
.colorful-border {
    border-style: solid;
    border-image: -webkit-linear-gradient(left, #E18728, #BE4C39 33%, #9351A6 66%, #4472B9, #4CA454, #D49B00) 2%; 
    border-image: -ms-linear-gradient(left, #E18728, #BE4C39 33%, #9351A6 66%, #4472B9, #4CA454, #D49B00) 2%; 
    border-image: -moz-linear-gradient(left, #E18728, #BE4C39 33%, #9351A6 66%, #4472B9, #4CA454, #D49B00) 2%;
}

/* filament */
#filament-ivy {
    top: -1000px;
}

.colorful-border.colorful-border-top {
    border-top: 3px;
}

/* figure and figcaption */
figure {
    margin: 50px 0px;
}

figure figcaption {
    margin-top: 20px;
    text-align: center;
    color: #666666;
    font-family: "Sanchez";
    font-size: 16px;
    font-style: italic;
}

/* forms */
/* ----------------------------------------------------------*/

/* pages */
/* ----------------------------------------------------------*/

/* home components */

.paper {
    padding: 45px 15px;
    border-bottom: solid 5px #e3e3e3;
}

.paper.disport {
    background-color: #25b5ad;
    color: white;
    border-bottom: none;
}

.paper.disport .btn-primary:hover {
    background-color: #0C9C94;
}

.paper.disport.darker {
    background-color: #0C9C94;
}

.paper.disport.darker .btn-primary:hover {
    background-color: #25b5ad;
}

.paper.disport.black {
    background-color: #262626;
}

.paper.disport.black .btn-primary:hover {
    background-color: white;
    border-color: white;
    color: #333333;
}

.paper h2 {
    text-align: center;
    padding-bottom: 10px;
}

.paper blockquote {
    font-size: 30px;
    font-family: "Sanchez";
    line-height: 40px;
    margin-top: 60px;
    margin-bottom: 0px !important;
}

/* home sections */

#about-me {
    padding: 40px 0px 15px 0px;
}

#about-me, #about-me h1, #about-me h2 {
    font-family: "Sanchez";
}

#about-me h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30px;
}

#about-me h2:first-child {
    margin: -12px 0px 8px 0px;
}

#about-me h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 24px 0px 8px 0px;
}

#about-me {
    font-size: 18px;
}

#about-me ul {
    margin: 0px 0px 0px 24px;
}

/* xs */
@media only screen and (max-width : 768px) {
    #about-me img {
        max-width: 500px;
        width: 100%;
        margin: 20px auto 50px auto;
        display: block;
    }
}

/* > xs */
@media only screen and (min-width : 768px) {
    #work img.iphone {
        margin-top: 112px;
    }
}

/* xs */
@media only screen and (max-width : 768px) {
    #work img {
        max-height: 300px;
        margin: 20px auto;
        display: block;
    }
}

/* xs */
@media only screen and (max-width : 768px) {
    #articles {
        padding-left: 20px;
        padding-right: 20px;
    }

    #articles q {
        margin-top: 30px;
    }
}

#articles q {
    margin-bottom: 30px;
}

#articles a {
    font-size: 1.5em;
}



/* post */
/* ----------------------------------------------------------*/
.comments {
    height: auto;
    font-family: "Sanchez";
    padding: 20px;
}

.comments .comments__overlay {
    display: none;
}

.comments.closed {
    height: 74px;
    position: relative;
    overflow: hidden;
    padding: 0px;
}

.comments.closed .comments__overlay {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f3f3f3;
    color: #333333;
    text-align: center;
    padding: 10px;
    cursor: pointer;

    transition: background-color 0.5s;
}

.comments.closed .comments__overlay:hover {
    background-color: #e3e3e3;
}

.comments.closed #disqus_thread {
    display: none;
}

/* post index */
/* ----------------------------------------------------------*/
.index .posts {
    margin: 0px;
}

.index .posts li {
    list-style-type: none;
    background-color: #f3f3f3;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;

    transition: transform 0.4s, box-shadow 0.5s;
}

.index .posts li:hover {
    transform: scale(1.05);

    -webkit-box-shadow: 0px 10px 44px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 44px -20px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 44px -20px rgba(0,0,0,0.75);
}

.index .posts li .post__banner {
    min-height: 200px;
    background-size: cover;
}

.index .posts li .post__text_content {
    padding: 22px 30px;
}

.index .posts .post__date, .index .posts .post__category {
    color: #999999;
}

.index .posts .post__link {
    font-size: 28px;
    display: block;
    margin: 0px 0px 15px 0px;
}

.index .posts .post__read_more {
    position: absolute;
    bottom: -2px;
    right: -4px;
}

/* small screen optimization */
/* ----------------------------------------------------------*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}

/* animations */
/* ---------------------------------------------------------*/

body.preventAnimationsUntilLoad * {
    animation: none !important;
    animation-name: none !important;
}

.slideInBottomLeft {
    animation-name: slideInBottomLeft;
    transform: translateX(-200px) translateY(200px);
    -webkit-transform: translateX(-200px) translateY(200px);
}

@-webkit-keyframes slideInBottomLeft{
    from {
        transform: translateX(-200px) translateY(200px);
        -webkit-transform: translateX(-200px) translateY(200px);
    }
    to {
        transform: translateX(0px) translateY(0px);
        -webkit-transform: translateX(0px) translateY(0px);
    }
}

@keyframes slideInBottomLeft{
    from {
        transform: translateX(-200px) translateY(200px);
        -webkit-transform: translateX(-200px) translateY(200px);
    }
    to {
        transform: translateX(0px) translateY(0px);
        -webkit-transform: translateX(0px) translateY(0px);
    }
}

.bob {
    animation-name: bob;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.slideInBottomLeft.bob {
    animation: slideInBottomLeft 1s ease both 0s 1,
               bob 0.7s ease-in-out 1s infinite alternate;
}

@-webkit-keyframes bob {
    from {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    to {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
    }
}

@keyframes bob {
    from {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    to {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
    }
}
