/* Reset */
/* ----------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.618em;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Typecast */
/* ----------------------------------------------------------*/

body {
    font-size: 18px;
    min-height: 100%;
    font-family: Georgia;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
}

h1 {
    font-size: 52px;
    line-height: 60px;
    margin: 0px 0px 15px 0px;
    font-family: "Droid Sans";
}

h2 {
    font-size: 36px;
    line-height: 46px;
    margin: 0px 0px 25px 0px;
    font-family: "Droid Sans";
}

h3 {
    font-size: 28px;
    line-height: 36px;
    margin: 0px 0px 19px 0px;
    font-family: "Droid Sans";
}

h4 {
    margin-bottom: 25px;
    font-family: "Droid Sans";
}

h5 {
    margin: 0px 0px 25px 0px;
    font-family: "Droid Sans";
}

p {
    margin: 0px 0px 25px 0px;
    text-transform: inherit;
    font-size: 20px;
    font-family: "Sanchez";
    line-height: 32px;
}

p.intro {
    font-size: 22px;
    line-height: 29px;
    margin: 0px 0px 13px 0px;
    font-family: Sanchez;
    font-weight: 400;
    font-style: normal;
}

p.quote {
    font-size: 23px;
    line-height: 28px;
    color: #666666;
    margin: 0px;
    font-family: "Sanchez";
}

article ul, ol {
    font-size: 20px;
    font-family: "Sanchez";
}

blockquote {
    transition: border-left 0.5s;
    margin-bottom: 25px !important;
    border-left: solid 7px #ff4081;
    padding-left: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eaeaea;
}

blockquote p {
    font-size: 32px;
    line-height: 42px;
    color: #424242;
}

blockquote li {
    font-size: 26px;
    line-height: 38px;
    color: #424242;
}

blockquote:hover {
    transition: border-left 0.5s;
    border-left: solid 7px #512db1;
}

article > blockquote:first-child {
    margin-bottom: 60px !important;
    margin-top: 60px !important;
}

strong, b {
    font-weight: bold;
}

/* elements */
/* ----------------------------------------------------------*/

q {
    quotes: "“" "”" "‘" "’";
    display: block;
    font-size: 1.8em;
    line-height: 45px;
}

q:before {
    font-size: 1.8em;
    margin-left: -25px;
    content: open-quote;
}

q:after {
    font-size: 1.8em;
    position: absolute;
    content: close-quote;
}

ol, ul {
    margin: 25px;
}

img {
    max-width: 100%;
}

small {
    font-size: 0.7em;
    color: #888;
}

.highlight {
    margin-bottom: 25px;
    padding: 2px;
    border: 1px solid #ececec;
    border-radius: 9px;
    font-family: monospace;
    font-size: 0.8em;
}

.highlight pre {
    padding: 5px 13px;
    border-radius: 9px;
}

/* form */
.btn.btn-primary {
    transition: 0.5s;
    background-color: #ff4081;
    border-color: #ff4081;
}

.btn.btn-primary:hover {
    transition: 0.5s;
    background-color: #41169a;
    border-color: #41169a;
}

/* misc */
/* ----------------------------------------------------------*/

a span.glyphicon {
    font-size: 80%;
    margin-left: 7px;
}

/* layout */
/* ----------------------------------------------------------*/

/* navigation */
#top-strip {
    height: 20px;
    background-color: #41169a;
}

nav {
    background-color: #512db1;
    height: 170px;
}

nav .nav-desktop .row {
    margin-right: auto;
    margin-left: auto;
    width: 760px;
}

nav .nav-desktop > div {
    margin-top: 60px;
    transition: margin-top 0.5s
}

nav #links.right {
    text-align: right;
}

nav #links > ul > li > a, nav #links > ul > li > a:hover {
    text-decoration: none;
}

nav #links > ul > li > a:hover {
    border-bottom: solid 3px #ff4081;
}

nav #logo__container a:hover span {
    border-bottom: solid 3px #ff4081;
}

nav #logo__container {
    font-size: 1.1em;
    font-weight: bold;
    font-family: "Droid Sans";
    text-align: center;
    margin-top: 20px;
}

nav #logo__container a {
    color: white;
}

nav #logo__container a:hover {
    text-decoration: none;
}

nav #logo__container img {
    transition: width 0.5s;
    width: 82px;
}

nav .nav-desktop ul {
    margin: 0px;
}

/* navigation desktop canvas */
nav.canvas {
    height: 95px;
}

nav.canvas #logo__container {
    margin-top: -60px;
}

nav.canvas .nav-desktop > div {
    margin-top: 23px;
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #logo__container {
        text-align: center;
    }
}

nav #links > ul {
    display: inline;
    list-style-type: none;
}

nav #links li {
    display: inline;
    list-style-type: none;
}

nav #links > ul > li > a {
    color: white;
    font-size: 1.5em;
    margin: 13px;
}

nav #links ul.dropdown-menu a {
    font-size: 1.4em;
}

nav.scrolled {
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    transition: 0.5s;
}

/* Scrolled styling */
nav.scrolled {
    height: 100px;
    opacity: 0.9;
    transition: 0.5s;
}

nav.scrolled .nav-desktop > div {
    margin-top: 27px;
    transition: margin-top 0.5s;
}

nav.scrolled #logo__container a:hover {
    border: none;
}

nav.scrolled #logo__container {
    margin-top: 12px;
    transition: margin-top 0.5s;
}

nav.scrolled #logo__container img {
    width: 55px;
}

nav.scrolled #logo__container .company_name {
    opacity: 0;
    transition: opacity 0.5s;
}

/* nav xs */
nav .nav-mobile #hamburger {
    float: left;
    margin-top: 29px;
    margin-bottom: 50px; /* push logo text right */
    transition: margin-top 0.5s, margin-bottom 0.5s;
}

nav .nav-mobile #logo__container {
    margin-top: 20px;
}

div#push-menu ul {
    margin: 10px 0px;
}

/* nav xs scrolled */
nav.scrolled .nav-mobile #hamburger {
    margin-top: 8px;
}

nav.scrolled .nav-mobile #logo__container {
    margin-top: 12px;
}

nav.scrolled .nav-mobile .company_name {
    opacity: 0;
    transition: opacity 0.5s;
}

/* nav xs canvas */
nav.canvas .nav-mobile #hamburger {
    margin-top: 75px;
    margin-bottom: 50px; /* push logo text right */
}

nav.canvas .nav-mobile #logo__container {
    margin-top: -60px;
}

/* nav xs scrolled canvas */
nav.scrolled.canvas .nav-mobile #logo__container {
    margin-top: 12px;
}

nav.scrolled.canvas .nav-mobile #hamburger {
    margin-top: 3px;
}

/* push menu */
div#push-menu {
    width: 300px;
    background-color: #41169a;
    color: white;
    height: 100%;
    position: fixed;
    top: 0px;
    left: -300px;
    visibility: hidden;
    z-index: 101;

    padding: 20px;
    font-size: 1.2em;
    line-height: 35px;
}

div#push-menu.pushed {
    visibility: visible;
    transition: 0.6s;
    transform: translateX(300px);
}

div#push-menu.pulled {
    transition: 0.6s;
    transform: translateX(0px);
}

.pushed {
    transition: 0.6s;
    transform: translateX(300px);
}

.pulled {
    transition: 0.6s;
    transform: translateX(0px);
}

div#spacer {
    margin-top: 215px;
}

div#push-menu ul {
    list-style-type: none;
    color: #cccccc;
}

div#push-menu ul a {
    color: white;
}

div#push-menu ul .category {
    margin-bottom: 30px;
}

div#push-menu ul .category > div {
    border-bottom: 1px solid #ccc;
}

/* hamburger icon */
#hamburger { 
    display: block;
    height: 40px;
    width: 40px;
    padding: 17px 2px;
    cursor: pointer; 
    text-align: center;
    margin-top: -6px;
}

#hamburger span, #hamburger span:before, #hamburger span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}

#hamburger span:before {
    top: -10px; 
}

#hamburger span:after {
    bottom: -10px;
}

#hamburger span, #hamburger span:before, #hamburger span:after {
    transition: all 500ms ease-in-out;
}

#hamburger.active span {
    background-color: transparent;
}

#hamburger.active span:before, #hamburger.active span:after {
    top: 0;
}

#hamburger.active span:before {
    transform: rotate(45deg);
}

#hamburger.active span:after {
    transform: translateY(-10px) rotate(-45deg);
    top: 10px;
}

/* footer */
#to-top {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: 30px auto;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 6.8em;
    padding-top: 56px;
    width: 100px;
    height: 100px;

    background-color: #ff4081;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: background-color 0.5s, transform 0.5s;
}

#to-top:hover {
    text-decoration: none;
    background-color: #41169a;
    transform: translateY(-10px);
    transition: background-color 0.5s, transform 0.5s;
}

/* content */
/* ----------------------------------------------------------*/

.container.narrow {
    max-width: 760px;
    margin: 0px auto 45px auto;
}

.container.narrow.page {
    margin-top: 45px;
}

.grey-hero {
    background-color: #eaeaea;
    border-bottom: 3px solid #d8d8d8;
}

/* posts */
.meta {
    display: block;
    margin: 12px 0px;
}

header.post-header {
    margin-bottom: 45px;
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* components */
/* ----------------------------------------------------------*/

/* gif player */

.gif-player {
    text-align: center;
    margin: 10px;
}

.gif-player a {
    transition: 0.5s;
    font-size: 1.3em;
    padding: 10px;
    background-color: #ff4081;
    border-radius: 50%;
    color: white;
}

.gif-player a:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #41169a;
    transform: rotate(-15deg);
}

/* contact form */

form#contact div.row {
    margin-bottom: 20px;
}

/* debugging */
/* ----------------------------------------------------------*/

.breakpoint-test {
    background-color: blue;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 150;
}

/* pages */
/* ----------------------------------------------------------*/

/* home components */

.paper {
    padding: 45px 0px;
    box-shadow: 0 24px 33px -33px gray;
}

.paper.last {
    margin-bottom: 60px;
}

.paper h2 {
    text-align: center;
    padding-bottom: 10px;
}

.paper blockquote {
    font-size: 30px;
    font-family: "Sanchez";
    line-height: 40px;
    margin-top: 60px;
    margin-bottom: 0px !important;
}

/* home sections */

#about-me {
    padding: 40px 0px 15px 0px;
}

#about-me, #about-me h1, #about-me h2 {
    font-family: "Sanchez";
}

#about-me h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30px;
}

#about-me h2:first-child {
    margin: -12px 0px 8px 0px;
}

#about-me h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 24px 0px 8px 0px;
}

#about-me {
    font-size: 18px;
}

#about-me ul {
    margin: 0px 0px 0px 24px;
}

/* xs */
@media only screen and (max-width : 768px) {
    #about-me img {
        max-width: 500px;
        width: 100%;
        margin: 20px auto 50px auto;
        display: block;
    }
}

/* > xs */
@media only screen and (min-width : 768px) {
    #work img.iphone {
        margin-top: 112px;
    }
}

/* xs */
@media only screen and (max-width : 768px) {
    #work img {
        max-height: 300px;
        margin: 20px auto;
        display: block;
    }
}

/* xs */
@media only screen and (max-width : 768px) {
    #articles {
        padding-left: 20px;
        padding-right: 20px;
    }

    #articles q {
        margin-top: 30px;
    }
}

#articles q {
    margin-bottom: 30px;
}

#articles a {
    font-size: 1.5em;
}

/* small screen optimization */
/* ----------------------------------------------------------*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}
