/* Reset */
/* ----------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.618em;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Typecast */
/* ----------------------------------------------------------*/

body {
    font-size: 18px;
    min-height: 100%;
    font-family: Georgia;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
}

h1 {
    font-size: 52px;
    line-height: 60px;
    margin: 0px 0px 15px 0px;
    font-family: "Droid Sans";
}

h2 {
    font-size: 36px;
    line-height: 46px;
    margin: 0px 0px 25px 0px;
    font-family: "Droid Sans";
}

h3 {
    font-size: 28px;
    line-height: 36px;
    margin: 0px 0px 19px 0px;
    font-family: "Droid Sans";
}

h4 {
    margin-bottom: 25px;
    font-family: "Droid Sans";
}

h5 {
    margin: 0px 0px 25px 0px;
    font-family: "Droid Sans";
}

p {
    margin: 0px 0px 25px 0px;
    text-transform: inherit;
    font-size: 20px;
    font-family: "Sanchez";
    line-height: 32px;
}

p.intro {
    font-size: 22px;
    line-height: 29px;
    margin: 0px 0px 13px 0px;
    font-family: Sanchez;
    font-weight: 400;
    font-style: normal;
}

p.quote {
    font-size: 23px;
    line-height: 28px;
    color: #666666;
    margin: 0px;
    font-family: "Sanchez";
}

blockquote.pull-quote {
    margin: 0em 1em 1em 0em;
    border-left: 3px solid #ccc;
    padding: 0em 0em 0em 0.7em;
}

blockquote {
    font-size: 26px;
    line-height: 37px;
    margin-bottom: 25px;
}

/* misc */
/* ----------------------------------------------------------*/

a span.glyphicon {
    font-size: 80%;
    margin-left: 7px;
}

/* layout */
/* ----------------------------------------------------------*/

/* navigation */
#top-strip {
    height: 20px;
    background-color: #41169a;
}

nav {
    background-color: #512db1;
    height: 170px;
}

nav .row {
    margin-right: auto;
    margin-left: auto;
    width: 760px;
}

nav .row > div {
    margin-top: 60px;
    transition: margin-top 0.5s
}

nav #links {
    text-align: right;
}

nav #links > ul > li > a, nav #links > ul > li > a:hover {
    text-decoration: none;
}

nav #links > ul > li > a:hover, nav #logo a:hover {
    border-bottom: solid 3px orange;
}

nav #logo {
    font-size: 4em;
    font-weight: bold;
    font-family: "Droid Sans";
}

nav #logo a {
    color: white;
}

nav #logo a:hover {
    text-decoration: none;
}

nav #links > ul {
    display: inline;
    list-style-type: none;
}

nav #links li {
    display: inline;
    list-style-type: none;
}

nav #links > ul > li > a {
    color: white;
    font-size: 1.7em;
    margin: 13px;
}

nav #links ul.dropdown-menu a {
    font-size: 1.4em;
}

nav {
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    transition: height 0.5s;
}

nav.scrolled {
    height: 100px;
    transition: height 0.5s;
}

nav.scrolled .row > div {
    margin-top: 27px;
    transition: margin-top 0.5s;
}

nav.scrolled #logo a:hover {
    border: none;
}

/* hamburger icon */
#hamburger { 
    display: block;
    height: 40px;
    width: 40px;
    padding: 17px 2px;
    cursor: pointer; 
    text-align: center;
    margin-top: -6px;
}

#hamburger span, #hamburger span:before, #hamburger span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}

#hamburger span:before {
    top: -10px; 
}

#hamburger span:after {
    bottom: -10px;
}

#hamburger span, #hamburger span:before, #hamburger span:after {
    transition: all 500ms ease-in-out;
}

#hamburger.active span {
    background-color: transparent;
}

#hamburger.active span:before, #hamburger.active span:after {
    top: 0;
}

#hamburger.active span:before {
    transform: rotate(45deg);
}

#hamburger.active span:after {
    transform: translateY(-10px) rotate(-45deg);
    top: 10px;
}

/* footer */
#to-top {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: 30px auto;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 6.8em;
    padding-top: 56px;
    width: 100px;
    height: 100px;

    background-color: #512db1;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: background-color 0.5s, transform 0.5s;
}

#to-top:hover {
    text-decoration: none;
    background-color: #41169a;
    transform: translateY(-10px);
    transition: background-color 0.5s, transform 0.5s;
}

/* content */
/* ----------------------------------------------------------*/

#content {
    max-width: 760px;
    margin: 215px auto 45px auto;
}

/* posts */
.meta {
    display: block;
    margin: 12px 0px;
}

header.post-header {
    margin-bottom: 45px;
}

/* small screen optimization */
/* ----------------------------------------------------------*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #logo {
        text-align: center;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}

/* debugging */
/* ----------------------------------------------------------*/

.breakpoint-test {
    background-color: blue;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 150;
}
