---
layout: empty
hero: true
---
 
<section id="about-me" class="grey-hero">
    <div class="container narrow">
        <div class="row">
            <div class="col-sm-12">
                <h1>Brighton based <strong>Website Design</strong> &amp; <strong>Development Agency</strong></h1>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <img src="/images/home/web-design-tools.png" />
            </div>
            <div class="col-sm-6">
                <h2>Prospective Clients:</h2>
                <ul>
                    <li>Look at the work in our <a href="/portfolio">portfolio<span class="glyphicon glyphicon-arrow-right"></span></a></li>
                    <li>Want to work together? <a href="/contact">Email us<span class="glyphicon glyphicon-arrow-right"></span></a></li>
                </ul>
                <h2>Resources for Creators:</h2>
                <ul>
                    <li>Check out our <a href="/design">design articles<span class="glyphicon glyphicon-arrow-right"></span></a></li>
                    <li>Browse our <a href="/development">development articles<span class="glyphicon glyphicon-arrow-right"></span></a></li>
                </ul>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</section>

<section class="paper" id="portfolio">
    <div class="container narrow">
        <div class="row">
            <div class="col-sm-12">
                <h2>Spotlight Project</h2>
            </div>
            <div class="col-sm-9">
                <img src="/images/portfolio/happy-voting/happy-voting-imac.png" />
            </div>
            <div class="col-sm-3">
                <img src="/images/portfolio/happy-voting/happy-voting-iphone.png" class="iphone" />
            </div>
            <div class="col-sm-12">
                <blockquote>Happy Voting was an international, independent campaign focussed on improving young voter turnout in the European Elections. <a href="/portfolio/2014/happy-voting/">Learn More...</a></blockquote>
            </div>
        </div>
    </div>
</section>

<section class="paper highlight" id="mailchimp">
    <div class="container narrow">
        <div class="row">

            <div class="col-sm-12">
                <h2>
                    <span class="glyphicon glyphicon-envelope"></span>
                    Stay Cutting Edge
                </h2>
                <h3>Get the latest <span class="highlight">tech tips</span> for <span class="highlight">business professionals</span> dropped into your inbox once a month.</h3>
                {% include mailchimp_form.html %}
            </div>

        </div>
    </div>
</section>

<section class="paper last highlight darker">
    <div class="container narrow">
        <div class="row">

            <div class="col-sm-12">
                <h2>
                    <span class="glyphicon glyphicon-ok"></span>
                    Let's Get To Work!
                </h2>
                <h3>If you're interested in <span class="highlight">working together</span> drop us a line using the form below:</h3>

                {% include contact.html %}
            </div>

        </div>
    </div>
</section>
