{% unless page.footer-hide %}
<footer class="{{ page.footer-class }}">
	<a class="social-icon" target="_blank" href="https://www.facebook.com/CoceptUK/">
		<img src="/images/graphics/social-icons/facebook.png" style="width: 32px; height: 32px;">
	</a>

	<!-- g+ button -->
	<a class="social-icon" target="_blank" href="//plus.google.com/u/0/103279012809634350123?prsrc=3"
	   rel="publisher" target="_top" style="text-decoration:none;">
		<img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/>
	</a>

	<a class="social-icon" target="_blank" href="https://twitter.com/CoceptUK">
		<img src="/images/graphics/social-icons/twitter.png" style="width: 32px; height: 32px;">
	</a>

	<a class="social-icon" target="_blank" href="https://uk.pinterest.com/cocept/">
		<img src="/images/graphics/social-icons/pinterest.png" style="width: 32px; height: 32px;">
	</a>

	<a class="social-icon" target="_blank" href="https://www.linkedin.com/company/10672122">
		<img src="/images/graphics/social-icons/linkedin.png" style="width: 32px; height: 32px;">
	</a>

	<a class="social-icon" target="_blank" href="/blog/feed.xml">
		<img src="/images/graphics/social-icons/rss.png" style="width: 32px; height: 32px;">
	</a>

	<div class="left">
    	<a class="to-top glyphicon glyphicon-arrow-up"></a>
    </div>
</footer>
{% endunless %}
