<header>
    <nav role="navigation">
        <div id="top-strip"></div>  
        <div class="container">
            <div class="nav-mobile visible-xs"><!-- mobile -->
                <div id="hamburger">
                    <a><span></span></a>
                </div>
                <div id="logo">
                    <a href="/">
                        <img src="/images/logo.png" />
                        <span class="company_name">Cocept</span>
                    </a>
                </div>
            </div>
            <div class="row nav-desktop hidden-xs"><!-- desktop -->
                <div class="col-sm-3" id="logo">
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="/">
                                <img src="/images/logo.png" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="/" class="company_name">Cocept</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9" id="links">
                    <ul>
                        <li>
                            <a href="/portfolio/">Work</a>
                        </li>
                        <li>
                            <a href="/training/">Training</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                Articles <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/design">Design</a></li>
                                <li><a href="/development">Development</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/contact/">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <canvas>
        
    </canvas>

</header>

<style type="text/css">
    canvas {
        width: 100%;
        height: 400px;
        margin-top: 160px;
        background-color: #333;
    }

    #about-me {
        margin-top: -30px;
        padding-top: 20px;
    }
</style>

<script type="text/javascript" src="https://cdn.jsdelivr.net/json-minify/0.1/minify.json.min.js"></script>

<script type="text/javascript">

    var Coordinates = function(x,y){
        this.x = x;
        this.y = y;

        this.copy = function(){
            return new Coordinates(this.x, this.y);
        }

        this.minus = function(coordinates){
            var this_new = this.copy();
            this_new.x -= coordinates.x;
            this_new.y -= coordinates.y;
            return this_new;
        }

        this.plus = function(coordinates) {
            var this_new = this.copy();
            this_new.x += coordinates.x;
            this_new.y += coordinates.y;
            return this_new;   
        }

        this.times = function(amount){
            var this_new = this.copy();
            this_new.x *= amount;
            this_new.y *= amount;
            return this_new;      
        }

        this.toString = function()
        {
            return "x: " + this.x + ", y: " + this.y;
        }

    }

    var Circle = function(end_position, start_position, radius){
        // if start position not defined, set it to random value
        if (typeof start_position === 'undefined') { 
            start_position = new Coordinates(Math.floor(Math.random() * canvas_width) + 1, 
                                             Math.floor(Math.random() * canvas_height) + 1);
        }
        if (typeof radius === 'undefined') { 
            radius = circle_radius;
        }

        // make end position relative to image dimensions
        end_position.x = (canvas_width / 2) - (image_width / 2) + end_position.x;
        end_position.y = (canvas_height / 2) - (image_height / 2) + end_position.y;

        // remember all params
        this.start_position = start_position;
        this.end_position = end_position;
        this.radius = radius;

        // set current position
        this.position = new Coordinates(start_position.x, start_position.y);

        // lerp function - move gradually frame by frame
        this.lerp = function(target_position){
            this.position.x += (target_position.x - this.position.x) * 0.2;
            this.position.y += (target_position.y - this.position.y) * 0.2;
        }

        // update this.position according to how far towards the end position the circle should be
        this.update_position = function(distance_as_percentage){
            if(distance_as_percentage > 100 || distance_as_percentage < 0)
                throw "distance_as_percentage must be between 0 and 100";
            distance_as_percentage /= 100;
            this.position = this.start_position.minus(this.end_position).times(distance_as_percentage).plus(this.end_position);
            return this;
        }
    };

    // canvas and canvas properties
    var ctx;
    var canvas_width;
    var canvas_height;

    // variables used during calculations
    var mouse_position = new Coordinates(0, 0);
    var distance;
    var distance_as_percentage;
    
    // settings
    var number_of_circles_to_draw = 100;
    var circle_radius = 5;
    var image_width = 645;
    var image_height = 400;
    var min_mouse_distance = 500; //Math.max(window.innerWidth, window.innerHeight);

    // populate circles from circles.json
    var circle_groups = [];
    $(document).ready(function(){
        $.ajax({
            url: '/circles.json', 
            dataType: 'text',
            success: function(data){
                // minify json to remove comments before parsing
                data = JSON.parse(JSON.minify(data));

                // circles in the same array will be connected by a line
                $.each(data, function(index, coordinate_group){
                    var group = [];
                    $.each(coordinate_group, function(index, coordinates){
                        group.push(new Circle(new Coordinates(coordinates.x, coordinates.y)));
                    });
                    circle_groups.push(group);
                });
            },
            fail: function(){
                console.log('There was a problem loading the circles');
            }
        });
    });

    // save mouse position
    $(document).mousemove(function(e) {  
        mouse_position = new Coordinates(e.pageX, e.pageY);
    });

    function calculateDistanceFromMouseToElement(element) {
        return Math.floor(
            Math.sqrt(
                Math.pow(
                    mouse_position.x - (element.offset().left+(element.width()/2)), 2
                ) + Math.pow(
                    mouse_position.y - (element.offset().top+(element.height()/2)), 2)
                )
            );
    }

    function init() {
        ctx = $('canvas')[0].getContext("2d");
        canvas_width = $("canvas").width();
        canvas_height = $("canvas").height();
        return setInterval(draw, 10);
    }

    function draw_circle(position, radius) {
        ctx.beginPath();
        ctx.arc(position.x, position.y, radius, 0, Math.PI*2, true);
        ctx.fillStyle = "black";
        ctx.fill();
        ctx.closePath();
    }

    function draw_line(start_position, end_position){
        ctx.beginPath();
        ctx.moveTo(start_position.x, start_position.y);
        ctx.lineTo(end_position.x, end_position.y);
        ctx.stroke();
    }

    function clear() {
        ctx.clearRect(0, 0, canvas_width, canvas_height);
    }

    function draw() {
        // set canvas dimensions
        ctx.canvas.width  = window.innerWidth;
        ctx.canvas.height = 400;
        clear();

        // calculate mouse distance to element
        distance = calculateDistanceFromMouseToElement($('.logo.col-sm-3'));
        distance_as_percentage = distance / min_mouse_distance * 100;

        // update circle positions
        $.each(circle_groups, function(index, circle_group){
            $.each(circle_group, function(index, circle){
                if(distance_as_percentage > 100){
                    distance_as_percentage = 100;
                }
                circle.update_position(distance_as_percentage);
            });
        });

        // redraw circles
        $.each(circle_groups, function(index, circle_group){
            var last_circle = null;

            $.each(circle_group, function(index, circle){
                // draw circle
                draw_circle(circle.position, circle.radius);

                // draw connecting lines
                if(last_circle != null){
                    draw_line(last_circle.position, circle.position);
                }
                last_circle = circle;
            });
        });
    }

    init();
</script>
