<header>
    <nav role="navigation">
        <div id="top-strip"></div>  
        <div class="container">
            <div class="nav-mobile visible-xs"><!-- mobile -->
                <div id="hamburger">
                    <a><span></span></a>
                </div>
                <div id="logo">
                    <a href="/">
                        <img src="/images/logo.png" />
                        <span class="company_name">Cocept</span>
                    </a>
                </div>
            </div>
            <div class="row nav-desktop hidden-xs"><!-- desktop -->
                <div class="col-sm-3" id="logo">
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="/">
                                <img src="/images/logo.png" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="/" class="company_name">Cocept</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9" id="links">
                    <ul>
                        <li>
                            <a href="/portfolio/">Work</a>
                        </li>
                        <li>
                            <a href="/training/">Training</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                Articles <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/design">Design</a></li>
                                <li><a href="/development">Development</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/contact/">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
