<script type="text/javascript" src="/js/pgwbrowser.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js"></script>
<script>
$(document).ready(function(){

    window.cocept.osGroup = $.pgwBrowser().os.group;
    window.cocept.mailchimpCookieName = "mailchimpModalClosed";
    var hotCornerSelector = null;

    // set hot corner element based on operating system (should be near "window close" button)
    if(window.cocept.osGroup == "Mac OS" || window.cocept.osGroup == "Linux")
        hotCornerSelector = ".hot-corner-top-left";
    else if (window.cocept.osGroup == "Windows" || window.cocept.osGroup == "Chrome OS")
        hotCornerSelector = ".hot-corner-top-right";

    // mobile device so don't setup hot corner
    if (hotCornerSelector == null)
        return;

    $( hotCornerSelector ).hover(function(){
        // check for modal close cookie
        if( Cookies.get( window.cocept.mailchimpCookieName ) == undefined )
            $('#mailchimpFormModal').modal('show');
	});

    $('#mailchimpFormModal').on('hidden.bs.modal', function () {
        // set modal close cookie
        console.log('closing');
        Cookies.set( window.cocept.mailchimpCookieName, true, { expires: 7 } );
    })
});
</script>

<!-- Modal -->
<div class="modal fade" id="mailchimpFormModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="/images/graphics/summer-working.jpg">
                <h1>Leaving so soon?</h1>
                <h3>Stay in touch by subscribing to our newsletter</h3>
                {% include mailchimp_form.html %}
            </div>
        </div>
    </div>
</div>
