<div id="push-menu" >
	<ul>
		<li class="category">
			<div>Web Development<br />and Training</div>
			<ul>
				<li><a href="/portfolio">Our Work</a></li>
				<li><a href="/training">Training</a></li>
			</ul>
		</li>
		<li class="category">
			<div>Articles</div>
			<ul>
				<li><a href="/development">Development</a></li>
				<li><a href="/design">Design</a></li>
			</ul>
		</li>
		<li class="category">
			<div>Cocept</div>
			<ul>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</li>
	</ul>
</div>
