<div id="push-menu" >
	<ul>
		<li class="category">
			<div>UX &amp; Web Design</div>
			<ul>
				<li><a href="/portfolio">Portfolio</a></li>
				<li><a href="/process">Process</a></li>
			</ul>
		</li>
		<li class="category">
			<div>Writing</div>
			<ul>
				<li><a href="/design">Design</a></li>
				<li><a href="/development">Development</a></li>
			</ul>
		</li>
		<li class="category">
			<div>Max</div>
			<ul>
				<li><a href="/resume">Resume</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="http://maxmumford.500px.com/" target="_blank">Photography <span class="glyphicon glyphicon-new-window"></span></a></li>
			</ul>
		</li>
	</ul>
</div>
