<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	{% if page.background-image %}
		{% capture background-image %}style="background-image: url('{{ page.background-image }}');"%}{% endcapture %}
	{% endif %}

	{% if page.nav %}
		{% assign subNav = "with-sub-nav" %}
	{% endif %}

	<body class="preventAnimationsUntilLoad {{ subNav }}" {{ background-image }}>

	{% include hot_corners.html %}

	{% include nav.html %}

	{% include header.html %}

	{{ content }}

	{% include footer.html %}

	{% include final_scripts.html %}

	</body>

</html>
