---
# this template is the base for the page and post templates
layout: empty
---

	<div class="container page">
		<div class="row">
			<div class="col-md-8">
				{{ content }}
			</div>

			<div class="col-md-4 hidden-sm hidden-xs">
				<aside class="affix">
					<!-- mailchimp form -->
					<img src="/images/graphics/overload.jpg">
					<h3>
						Tech Overload?
					</h3>
					<p>
						Save time and stay cutting edge with Cocept's monthly newsletter for business professionals.
					</p>
					{% include mailchimp_form.html %}
				</aside>
			</div>
		</div>
	</div>
