---
# blog post template
layout: default
---
<div class="post" itemscope itemtype="http://schema.org/Article">

	<article itemprop="articleBody" class="post-content">

		<header class="post-header">
			<h1 itemprop="name">{{ page.title }}</h1>
			<div class="meta">
				<time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <a href="{{ page.author_link }}" target="_blank" rel="author"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></a>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
			</div>
		</header>

		{{ content }}

		<div id="disqus_thread"></div>

		<section id="comments">
			<script>
			var disqus_config = function () {
				this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}";
				this.page.identifier = "{{ page.url }}"; 
			};
			(function() {
			var d = document, s = d.createElement('script');
			s.src = '//maxmakedesign.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</script>
		</section>

	</article>

</div>
