---
layout: default
---
<div class="post" itemscope itemtype="http://schema.org/Article">

	<article itemprop="articleBody" class="post-content">

		<header class="post-header">
			<h1 itemprop="name">{{ page.title }}</h1>
			<div class="meta">
				<time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <a href="{{ page.author_link }}" target="_blank" rel="author"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></a>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
			</div>
		</header>

		{{ content }}

		<div id="disqus_thread"></div>

		<section id="comments">
			<script type="text/javascript">
				var disqus_shortname = 'cocept';
				var disqus_url = '{{ site.url }}{{ page.url }}';

				(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
		</section>

	</article>

</div>
